/* font-family: 'Open Sans', sans-serif;
font-family: 'Kaushan Script', cursive; */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/bg_patterns.png);
}

#mainContainer {
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    border: 10px solid #DD9D3E;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);
    background: linear-gradient(to bottom, #E9E4F0, #D3CCE3);
}

header{
    text-align: center;
    position: relative;
}

.title{
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
    margin: 20px 0px 50px 0px;
    color: darkgreen;
}

.clover{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url("../assets/clover.png");
    background-size: cover;
    position: relative;
    top: 10px; 
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

main{
    text-align: center;
    margin-top: 50px;
}

.drawContainer{
    position: relative;
}

#roll{
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.btn {
    margin: 0px;
    border: none;
    border-radius: 10px;
    background-color: #346630;
    color: whitesmoke;
    font-weight: 700;
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7)
}

.btn:active {
    position: relative;
    top: 3px;
    left: 3px;
}

.subtitle2{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

#d{
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    height: 3rem;
    margin-top: 25px;
}

.howtouse {
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

footer{
    margin: -10px;
    padding: 0px;
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    font-size: 0.8rem;
    color: white;
    text-shadow: 1px 1px black;
}